<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.armadillianonimi.emergencyphonenumbers">

    <!--User permissions: ask permissions to access location, contacts and to make phone calls-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/icon_name"
        tools:replace="android:label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Google maps API key-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAHFeYmuLkhc8JVA_FRlWPt7OwmUnFNHw4" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Contacts activity-->
        <activity
            android:name=".ContactsPickerActivity"
            android:configChanges="orientation|screenSize"> </activity>

        <!--Fabric API key: crash report-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9fce642c2644fef5ab19ee53e1ec472130a2c78e" />

        <!--Disclaimer activity-->
        <activity android:name=".DisclaimerActivity"
            android:label="@string/pref_disclaimer"
            android:parentActivityName="com.example.armadillianonimi.emergencyphonenumbers.MainActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.armadillianonimi.emergencyphonenumbers.MainActivity" />
        </activity>

        <!--IntroActivity: onboarding screen showed the first time the app is opened.-->
        <activity android:name=".IntroActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="com.example.armadillianonimi.emergencyphonenumbers.IntroActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>