<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.armadillianonimi.emergencyphonenumbers">

    <!--User permissions: ask permissions to access location, contacts and to make phone calls-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Emergency\nNumbers"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Google maps API key-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAHFeYmuLkhc8JVA_FRlWPt7OwmUnFNHw4" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ContactsPickerActivity"> </activity>

        <!--Fabric API key: crash report-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9fce642c2644fef5ab19ee53e1ec472130a2c78e" />

        <activity android:name=".DisclaimerActivity"
            android:label="@string/pref_disclaimer"
            android:parentActivityName="com.example.armadillianonimi.emergencyphonenumbers.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.armadillianonimi.emergencyphonenumbers.MainActivity" />
        </activity>

    </application>

</manifest>